header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    overflow: hidden;
}
a {
    color: #262626;
    text-decoration: none;
}
.main-nav{
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.08);
}
nav{
    margin-left: 200px;

}
nav ul{
    display: flex;
    font-size: 13px;
    font-weight: bold;
}
nav ul li{
    padding: 0 10px;
    list-style: none;
}
.logo {
    width: 200px
  }
.cta{
    background-color: #025FDB;
    border-radius: 10px;
    padding: 12px 38px;
    font-size: 12px;
    color: white;
    font-weight: bold;
}